## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
# For customization when using a Version Control System, please read the
# header note.
#Sat Sep 23 20:58:05 CDT 2023
sdk.dir=/Users/chrisathanas/Library/Android/sdk
MAPS_API_KEY=REPLACE_WITH_YOUR_OWN_GOOGLE_MAPS_API_KEY
